/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
This is a css reset.
The way a browser reads Html and Css is from top to bottom.
The web browser will read this css file from top to bottom.
Web browsers all have different default ways of displaying the html that you have written by
placing default margins among other things.

To ensure that you website is displayed the way that you want it to be across all browsers you
need to add css resets into your .css file or else include a CSS framework such as bootstrap.
*/
html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*My code starts here*/
html {
  scroll-behavior: smooth;
  font-size: 1px;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: LightSteelBlue;
  min-height: 100%;
}

header {
  font-size: 20rem;
  font-family: "Calibri", "Arial";
  display: flex;
  justify-content: space-between;
  background-color: DarkSlateBlue;
  padding: 30rem 20.8%;
  align-items: center;
}

header ul li {
  float: left;
  margin: 0rem 0rem 0rem 35rem;
}

header ul li a {
  color: white;
  transition: color linear 0.60s;
  display: block;
}

header ul li a:hover {
  color: orange;
}

.logo {
  color: white;
  margin-right: auto;
}

.content {
  max-width: 1200rem;
  font-size: 18rem;
  background-color: white;
  margin: auto;
  padding: 40rem 40rem 40rem 40rem;
  font-family: "Calibri", "Arial";
  height: 100%;
  text-align: justify;
}

.title {
  font-size: 30rem;
}

span.titlehtml {
  color: #E54C21;
}

span.titlecss {
  color: #264DE4;
}

.main {
  max-width: 1200rem;
  margin: auto;
}

.subheading {
  font-size: 23rem;
  margin-top: 40rem;
  margin-bottom: 15rem;
}

.content p {
  margin-bottom: 15rem;
  line-height: 27rem;
}

.content p a {
  color: blue;
}

.content p a:hover {
  text-decoration: underline;
}

.content p a:visited {
  color: #826d8c;
}

.timLeeImage {
  float: right;
  max-width: 50%;
  margin-left: 25rem;
  margin-bottom: 10rem;
  margin-top: 8rem;
}

#imageTim {
  box-shadow: 2px 5px 12px rgba(32, 32, 32, .3);
  max-width: 100%;
}

figcaption {
  font-size: 16rem;
  color: black;
}

.cite {
  font-style: italic;
}

.HåkonImage {
  float: right;
  max-width: 35%;
  margin-left: 25rem;
  margin-top: 8rem;
}

#imageHåkon {
  box-shadow: 2px 5px 12px rgba(32, 32, 32, .3);
  max-width: 100%;
}

code {
  font-family: "Courier";
  background-color: #eee;
  border: 1rem solid #ebeced;
  border-radius: 3rem;
  display: inline-block;
  line-height: 21rem;
  max-width: 100%;
  padding: 0 3rem;
  vertical-align: baseline;
  white-space: pre-wrap;
}

#aboutcss {
  margin-bottom: 50rem;
}

.accordion {
  max-width: 1120rem;
  margin-bottom: 30rem;
}

.accordion__label {
  background: DarkSlateBlue;
  padding: 15rem;
  max-width: 500rem;
  font-size: 23rem;
  display: block;
  color: white;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: color linear 0.60s;
  border-radius: 12rem 12rem;
  box-shadow: 2px 5px 12px rgba(32, 32, 32, .3);
}


label:hover {
  color: orange;
}

.accordion__label::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5rem;
  min-width: 30rem;
  height: 30rem;
  background-image: url(../images/chevron-down.svg);
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  margin-top: 20rem;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

table {
  font-family: "Calibri", "Arial";
  min-width: 400rem;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12rem 12rem 0rem 0rem;
  overflow: hidden;
  box-shadow: 2px 5px 12px rgba(32, 32, 32, .3);
  background: #fafafafa;
  text-align: center;
  margin: auto auto 60rem auto;
}

th, td {
  padding: 12rem 15rem;
}

th {
  font-size: 20rem;
  font-weight: bold;
  background: DarkSlateBlue;
  color: white;
}

th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5) {
  text-align: left;
}

td {
  height: auto;
}

td:nth-child(1) {
  font-size: 22rem;
}

td:nth-child(1), td:nth-child(5) {
  width: 150rem;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #eee;
}

#references ol {
  list-style: disc;
}

#references a {
  color: black;
  font-weight: bold;
}

#references a:hover {
  text-decoration: underline;
}

#references a:visited {
  color: #826d8c;
}

footer {
  font-size: 20rem;
  font-family: "Calibri", "Arial";
  display: flex;
  justify-content: space-between;
  background-color: DarkSlateBlue;
  padding: 30rem 20.8%;
  align-items: center;
  color: white;
}

.copyright {
  margin-right: auto;
}

.backtotop {
  color: white;
  transition: color linear 0.60s;
}

.backtotop:hover {
  color: orange;
}

/*
CSS that I need to add in:
Font and text properties: font-variant, font
Colour and background properties: background-image, background
Positioning: absolute, relative, static, fixed
Borders: border, border-color, border-width, border-Style "Set the border of all thesections to a solid black 2px border Set the bottom border of the header section to 2px solid white"
Lists:list-style-type, list-style-image "Use a square list style type for all the unordered list bullet points in your website."
Units: ems, small / medium / large "Use % to specify table widths.Use pixels to specify font sizes."
Demonstrate an understanding of pseudo-elements: a:active and a:visited
*/
